* {
    box-sizing: border-box;
}

:root {
    --primary: #852ef7;
    --secondary: #e4e0f0;
    --grey: #333;
    --white: rgb(255, 255, 255);
    --tertiary: rgb(192, 246, 253);
}

/* Header that contains just the timer */
.timer {
    font-size: 1.3rem;
}
/* Main Div of the Quiz Start */
.quiz-main {
    background: var(--secondary);
    padding: 30px 25px;
    border-bottom: 5px solid var(--primary);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.type-me {
    margin: 4px;
    padding: 10px;
}

.quiz-main p {
    margin: 5px 0 20px;
    font-size: 2rem;
    text-align: center;
}

.btn {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    background: var(--primary);
    color: var(--white);
    font-size: 1.2rem;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px var(--grey);
}

.btn:hover {
    box-shadow: 0 2px var(--grey);
    top: -2px;
    cursor: pointer;
}
/* Main Div of the Quiz Start Ends */

/* Created Divs Realting to Questions Start */
.question {
    font-size: 2rem;
}

.answer-item {
    color: var(--white);
    padding: 15px 15px;
    border: 2px solid var(--grey);
    background: var(--primary);
    border-radius: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.answer-item:hover {
    box-shadow: 0 2px var(--grey);
    top: -2px;
    cursor: pointer;
}
/* Created Divs Realting to Questions End */

/* Made for phones */
@media screen and (max-width: 980px) {

    .quiz-title {
        text-align: center;
        }

    .quiz-main {
        flex: 1 100%;
        flex-basis: 100%;
        width: 100%;
    }
}
